<div class="mt-4"></div>
<a 
  href="javascript:void(0)" 
  *ngIf="!isList" 
  class="btn btn-outline-secondary mb-2" 
  (click)="isList = true; reset()"> Task List</a>

<a 
  href="javascript:void(0)" 
  *ngIf="isList" 
  class="btn btn-outline-primary mb-2" 
  (click)="isList = false; reset()"> Add New Task</a>

<div *ngIf="isList">
    <div class="row">
        <div class="col-lg-4">
            Show
            <select style="width: 50px;height: 32px;" [(ngModel)]="pageSize" (change)="search()">
                <option *ngFor="let item of listPageSize" [value]="item">
                    {{item}}
                </option>
            </select>
            records
        </div>
        <div class="col-lg-4">
            <h4 class="text-center">Task Information</h4>
        </div>
    </div>
    
    <!-- Table for displaying tasks -->
    <table class="table table-bordered">
        <thead>
            <tr class="table-secondary">
                <th>Task Description</th>
                <th>Deadline</th>
                <th>Task Category</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listTasks">
                <td>{{item.description}}</td>
                <td>{{item.deadLine | date:'shortDate'}}</td>
                <td>{{item.taskCategory}}</td>
                <td>
                    <button class="btn btn-sm btn-outline-primary" (click)="edit(item)">Edit</button>
                    <button class="btn btn-sm btn-outline-primary" (click)="removeConfirm(item)" data-bs-toggle="modal" data-bs-target="#confirmModal">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination Controls -->
    <div *ngIf="pager.totalPages > 1">
        <ul class="pagination">
            <li class="page-item" [class.disabled]="pageIndex === 0">
                <a class="page-link" (click)="changePageNumber(pageIndex - 1)" href="javascript:void(0)">Previous</a>
            </li>
            <li *ngFor="let page of pager.pages" class="page-item" [class.active]="pageIndex === page - 1">
                <a class="page-link" (click)="changePageNumber(page - 1)" href="javascript:void(0)">{{page}}</a>
            </li>
            <li class="page-item" [class.disabled]="pageIndex === pager.totalPages - 1">
                <a class="page-link" (click)="changePageNumber(pageIndex + 1)" href="javascript:void(0)">Next</a>
            </li>
        </ul>
    </div>
</div>

<div *ngIf="!isList">
    <h4 class="text-center">Task Entry Form</h4>
    <div class="row g-3">
        <div class="col-md-6">
            <label class="form-label" for="TaskDescription">Task Descriptions:</label>
            <input type="text" id="TaskDescription" [(ngModel)]="Task.description" class="form-control" />
        </div>

        <div class="col-md-6">
            <label class="form-label" for="TaskDeadline">Deadline:</label>
            <input type="date" id="TaskDeadline" [(ngModel)]="Task.deadLine" class="form-control" />
        </div>

        <div class="col-md-6">
            <label class="form-label" for="TaskCategoryID">Task Category:</label>
            <select id="TaskCategoryID" [(ngModel)]="Task.taskCategoryID" class="form-control">
                <option *ngFor="let category of listTaskCategories" [value]="category.taskCategoryId">
                    {{category.name}}
                </option>
            </select>
        </div>

        <div class="col-md-6 d-none">

        
            <input type="hidden" id="TaskId" [(ngModel)]="Task.TaskId" class="form-control" />
            <input type="hidden" id="isActive" [(ngModel)]="Task.isActive" class="form-control" />
            <input type="hidden" id="createBy" [(ngModel)]="Task.createBy" class="form-control" />
            <input type="hidden" id="createDate" [(ngModel)]="Task.createDate" class="form-control" />
            <input type="hidden" id="updateDate" [(ngModel)]="Task.updateDate" class="form-control" />

        </div>

        <div class="col-md-12 mt-5">
            <button type="button" class="btn btn-secondary" *ngIf="Task.TaskId > 0" (click)="update()">Update</button>
            <button type="button" class="btn btn-primary" *ngIf="Task.TaskId == 0" (click)="add()">Add</button>
        </div>
    </div>
</div>

<!-- Confirmation Modal -->
<div 
  class="modal fade" 
  id="confirmModal" 
  tabindex="-1" 
  aria-labelledby="confirmModalLabel" 
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="confirmModalLabel">Confirm Deletion</h5>
        <button 
          type="button" 
          class="btn-close" 
          data-bs-dismiss="modal" 
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete <strong>{{ Task.description }}</strong>?</p>
      </div>
      <div class="modal-footer">
        <button 
          type="button" 
          class="btn btn-outline-secondary" 
          data-bs-dismiss="modal" 
          (click)="reset()">Cancel</button>
        <button 
          type="button" 
          class="btn btn-outline-danger" 
          data-bs-dismiss="modal" 
          (click)="remove(Task)">Delete</button>
      </div>
    </div>
  </div>
</div>
