/* General Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

/* Container */
h1, h2 {
  text-align: center;
  color: black;
}

button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color:rgb(60, 66, 191);
}

div {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: blue;
  border-radius: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li button {
  padding: 5px 10px;
  font-size: 14px;
}

/* Form Styling */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus {
  border-color: #4CAF50;
  outline: none;
  box-shadow: blue;
}

/* Error message styling */
.error-message {
  color: red;
  font-size: 12px;
  margin-top: -5px;
  margin-bottom: 10px;
  font-style: italic;
}


button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}
