.month-calendar {
    text-align: center;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .header button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .calendar {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  .calendar th, .calendar td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 40px;
    height: 40px;
  }
  
  .task-date {
    background-color: #ffcccc;
    cursor: pointer;
  }
  .deadline {
    background-color: #49a7e6;
    cursor: pointer;
  }
  