<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  .blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
</style>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0);">
      <!-- <i class="fa fa-car"></i>  -->
      <!-- <img src="/assets/img/logo.png" /> -->
      {{title}}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a *ngIf="authService.UserInfo.IsLogIn" class="nav-link" aria-current="page" routerLink="/dashboard"><i class="fa fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
          <a *ngIf="authService.UserInfo.IsLogIn" class="nav-link" aria-current="page" routerLink="/dashboard"><i class="fa fa-home"></i> About</a>
        </li>
        <!-- <li class="nav-item">
          <a *ngIf="authService.UserInfo.IsLogIn" class="nav-link" aria-current="page" routerLink="/dashboard"><i class="fa fa-home"></i> About</a>
        </li> -->
        <li class="nav-item dropdown" *ngIf="authService.UserInfo.IsLogIn">
          <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-gear" aria-hidden="true"></i> Task Management
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/company"><i class="fa fa-briefcase" aria-hidden="true"></i> Company</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/department"><i class="fa fa-briefcase" aria-hidden="true"></i> Department</a>
            </li>
            <!-- <li>
              <a class="dropdown-item" routerLink="/category"><i class="fa fa-briefcase" aria-hidden="true"></i> Task Category</a>
            </li> -->
            <li>
              <a class="dropdown-item" routerLink="/memberinvitation"><i class="fa fa-briefcase" aria-hidden="true"></i> MemberInvitation</a>
            </li>
           </ul>
        </li>
        <!-- <li class="nav-item dropdown" *ngFor="let item of authService.UserInfo.ModuleMenus">
    <a *ngIf="item.ModuleName" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="{{item.ModuleIcon}}" aria-hidden="true"></i> {{item.ModuleName}}
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li *ngFor="let m of item.Menus">
        <a class="dropdown-item" routerLink="{{m.MenuPath}}"><i class="{{m.MenuIcon}}" aria-hidden="true"></i> {{m.MenuName}}</a>
      </li>
    </ul>
  </li> -->
      </ul>
      <form class="d-flex">
        <a class="btn btn-sm btn-outline-primary" href="javascript:void(0)" *ngIf="authService.UserInfo.IsLogIn">Welcome! {{authService.UserInfo.UserName}}</a>
        <button class="btn btn-sm btn-outline-info" type="button" (click)="logout()" *ngIf="authService.UserInfo.IsLogIn">Logout</button>
        <button class="btn btn-sm btn-outline-success" type="button" (click)="login()" *ngIf="!authService.UserInfo.IsLogIn">Login</button>
        <button class="btn btn-sm btn-outline-primary" [routerLink]="'/member-registration'" *ngIf="!authService.UserInfo.IsLogIn" type="button">Sign Up</button>
        <div *ngIf="authService.UserInfo.IsLogIn" class="position-relative ms-3">
          <button
    class="btn btn-light position-relative"
    type="button"
    (click)="showNotifications()"
  >
    <i class="fa fa-bell"></i>
    <span
      class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
      *ngIf="notificationsCount > 0"
    >
      {{ notificationsCount }}
      <span class="visually-hidden">unread notifications</span>
    </span>
  </button>

  <!-- Notification List -->
  <div *ngIf="showNotificationList" class="notification-dropdown">
    <div class="notification-dropdown-header">
      Notifications
    </div>
    <ul class="list-group">
      <li *ngFor="let notification of notifications" class="list-group-item">
        <i class="fa fa-envelope"></i> {{ notification }}
      </li>
    </ul>
  </div>
</div>
        
      </form>
    </div>
  </div>
  
</nav>
<div class="row">
  <div class="col-md-2" *ngIf="authService.UserInfo.IsLogIn">

    <div class="sidebar bg-dark text-white vh-100 ">
   <li style="list-style: none;">
    <h4 class="text-center"> <a class="nav-link text-white" routerLink="/dashboard"><i class="fa fa-bar-chart"></i> Dashboard</a></h4>
    <ul class="nav flex-column">
      <li class="nav-item">
       
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/task"><i class="fa fa-tasks"></i> Tasks</a>
      </li>
      <li class="nav-item">
      
        <a class="nav-link text-white" routerLink="/category"><i class="fa fa-briefcase" ></i> Task Category</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/task-details"><i class="fa fa-tasks"></i> Tasks detail</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/taskassign"><i class="fa fa-tasks"></i> TaskAssign</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/file-attach">
          <i class="fa fa-file"></i> File Attached
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/settings"><i class="fa fa-cog"></i> Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/reports"><i class="fa fa-cog"></i> Reports</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/calendar-view"><i class="fa fa-cog"></i> CalenderView</a>
      </li>
    </ul>
   </li>
    </div>
  </div>
  <div class=" col-md-10">
 <router-outlet></router-outlet>
  </div>
</div>


