/* Center align the header */
.dashboard-header {
  text-align: center;
  margin: 40px 0;
}

.dashboard-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

/* Dashboard Box Styling */
.dashboard-box {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  color: white;
  text-align: center;
  padding: 30px;
  height: 120%;
  border-radius: 12px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Hover effect */
.dashboard-box:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #00f2fe, #4facfe);
}

/* Title styling */
.dashboard-box h3 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Count styling */
.dashboard-box p {
  font-size: 24px;
  font-weight: bold;
}
